<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn VueJS</title>
    <style>
        .boxIF {
            background-color: purple;
            height: 200px;
            width: 200px;
        }
        .boxIF_ELSE {
            background-color: red;
            height: 200px;
            width: 200px;
        }
        .boxELSE {
            background-color: black;
            height: 200px;
            width: 200px;
        }
        .box {
            background-color: green;
            height: 200px;
            width: 200px;
        }
    </style>
</head>
<body>
<div id="app">

    {{ greeting }}
    <input v-model="greeting" type="number"/>
    <hr/>

    <div v-if="greeting === 1" class="boxIF"></div>
    <div v-else-if="greeting === 2" class="boxIF_ELSE"></div>
    <div v-else class="boxELSE"></div>

    <!--
    <div v-show="isVisibleShow" class="box"></div>
    -->
</div>

<script src="https://unpkg.com/vue@3"></script>
<script>
    let app = Vue.createApp({
        data : function (){
            return {
                greeting : 1,
                isVisibleShow : true
            }
        }
    })
    app.mount('#app');
</script>
</body>
</html>
